# Multiple Correspondence Analysis

### https://pypi.python.org/pypi/mca/1.0.2

In [1]:
# import dependencies
import mca, pandas as pd, numpy as np

### Our data set

In [2]:
# import source data
wine = "wine.csv"
df_wine = pd.read_csv(wine)

# Drop Null values
# df_wine.drop(['region_2','country'], axis = 1, inplace = True)
df_wine = df_wine.dropna().drop_duplicates().reset_index(drop=True)
df_wine.head()

,points,designation,price,province,region_1,region_2,variety,winery,country
0,96,Martha's Vineyard,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,US
1,96,Special Selected Late Harvest,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,US
2,96,Reserve,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,US
3,95,Silice,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,BergstrÌ¦m,US
4,95,Gap's Crown Vineyard,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm,US

### One hot Encodeing our data. "mca.MCA" can do this, but the sytax was cumbersome

In [3]:
df_wine_dummies=pd.get_dummies(df_wine, columns=['designation','province','region_1','region_2','variety','winery','country'],drop_first=True)
df_wine_dummies.head()

,points,price,designation_#50 Mon Chou,designation_'72,designation_'Nearly Naked',designation_'S',designation_*%#&@!,designation_**1 Liter**,designation_0 Degree Dry,designation_0 Degrees,...,winery_ecoVINO,winery_flipflop,winery_j.brix,winery_kukkula,winery_l'homme qui ris,winery_love & squalor,winery_un4seen,winery_ÌÊMaurice,winery_Ìäcluse,winery_ÌälevÌ©e Winegrowers
0,96,235.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,96,90.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,96,65.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,95,65.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,95,60.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# MCA Analysis without rounding Eigenvalues

mca_df = mca.MCA(df_wine_dummies, TOL=0)

In [6]:
# The eigenvalues, or principal inertias, of the factors:
print(mca_df.L)

[0 0 0 ..., 0 0 0]

In [9]:
# One Eigenvalue for each column of encoded data

len(mca_df.L)

14681

### All columns ranked equaly none stood out as more signifigant

In [15]:
eigenV_test=pd.DataFrame(mca_df.L)
eigenV_test.sort_values(0,ascending=False).head()

      0
0     0
9779  0
9781  0
9782  0
9783  0

In [13]:
# Supplementary proof

eigenV_test.describe()

             0
count  14681.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0